.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
  /* max-width: 500px; */
}

.button {
  background-color: #f44336;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #d32f2f;
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

/* .containerLi {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.liInfo {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
  font-size: 16px;
}

.name,
.number {
  font-size: 14px;
  line-height: 1.5;
}

.deleteButton {
  background-color: lightgray;
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
} */
